.about-us-container {
  display: flex;
  background-color: #fff;
  padding: 40px 80px; /* Increased left and right padding */
  min-height: 100vh;
  align-items: center;
  font-family: 'Times New Roman', serif;
  justify-content: space-between; /* Ensure even spacing */
}

.about-us-content {
  flex: 1;
  padding-right: 40px; /* Added more space */
  padding-left: 40px; /* Move content from the left */
}

.about-us-title {
  font-size: 80px;
  font-weight: normal;
  color: #036b03;
  margin-bottom: 40px;
  line-height: 0.9;
}

.about-us-text {
  font-size: 16px;
  color: #59483d;
  line-height: 1.5;
  max-width: 400px; /* Slightly wider text */
}

.about-us-image-container {
  flex: 1;
  display: flex;
  justify-content: center; /* Ensure spacing within the right side */
  padding-right: 40px; /* Add space from the right */
}

.about-us-image {
  max-width: 100%;
  height: auto;
  max-height: 40vh;
}

@media (max-width: 768px) {
  .about-us-container {
    flex-direction: column;
    padding: 20px;
  }

  .about-us-title {
    font-size: 60px;
    margin-bottom: 20px;
  }

  .about-us-content {
    padding: 0 20px; /* Adjusted padding for mobile */
    margin-bottom: 30px;
  }

  .about-us-image-container {
    justify-content: center;
    padding-right: 0;
  }
}
